
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(70deg, rgb(1, 1, 1),rgb(0, 14, 5));
    font-family: "Black Ops One", system-ui;
    color: white;
}
.main-cont{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-cont{
    height: 40%;
    width: 100%;
     
     filter: drop-shadow(10px 10px 50px red)
}
.img-cont img{
    border-radius: 20%;
}
h1{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
h1 span{
    color: rgb(0, 104, 173);
    font-size: 40px;
   
}
.gif{
 
   display:none;
}
.my-btn{
    height: 40px;
    width: 80%;
    background: linear-gradient(20deg,red,blue);
      font-family: "Black Ops One", system-ui;
      font-size: 24px;
      color: wheat;
      border: none;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
    justify-content: center;
    cursor: pointer;
}
.my-btn:hover{
    height: 46px;
    width: 87%;
    transition-duration: 1s;
}


@media (min-width:1024px) {
    
    html,body{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    
.main-cont{
  height: 500px;
  width: 500px;

 
 

}


h1{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
h1 span{
    color: rgb(14, 149, 183);
  font-size: 46px;
}
.img-cont{
    height: 60%;
    width: 100%;
}
.as1{
    color: rgb(192, 12, 123);
}

}

